@import 'scss/variables';
@import 'scss/reboot';
@import 'scss/fonts';
@import 'scss/grid';
@import 'scss/buttons';
@import 'scss/form';

@import 'scss/components/header';
@import 'scss/components/homeSection';
@import 'scss/components/registerForm';

@import 'scss/booming';
@import 'scss/components/featuresSection';
@import 'scss/components/blog';

@import 'scss/components/registerAsSection';
@import 'scss/components/endingSection';
@import 'scss/components/footer';


body{
   
    height: 100vh;

   
   .mobile-nav-icon {
        display: none;
        @include respond-to(small-screens) {   display: inline-block;}
    }
    .mobile-nav{ display: none; width: 0px; transition: 1s all;}
    .mobile-nav.open{
        width: 300px;
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        background: #fff;
        z-index: 5;
        transition: 1s all;
        .logo {
            transition: 0.25s all;
            margin-top: 34px;
            margin-right: 5%;
        }
        ul li{
            list-style: none;
            border-bottom: 1px solid #ddd;
            display: inline-block;
            width: 90%;
            padding: 15px;
            padding-right: 0px;
         a {
            font-size: 20px;
            color: $primaryColor;
            
        }
    }
    } 

}

 
                    
                    
                  