<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel='icon' href='favicon.ico' type='image/x-icon' />
    <!-- Microsoft Tiles -->
    <meta name="msapplication-config" content="browserconfig.xml">
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:url" content="http://sary.com" />
    <meta property="og:title" content="Sary | Reinventing Wholesale" />
    <meta property="og:type" content="website" />
    <meta property="og:description"
        content="Sary is an online B2B marketplace that connects small businesses with network of wholesalers via mobile and web applications. The company is in a mission to empower small businesses with procuring supply seamlessly by understanding future consumption, streamlining purchasing processes, access bargaining prices, and reach semi-autonomous fulfillment." />
    <meta property="og:image" content="https://sary.com/assets/sary-meta2.jpg" />

    <title>Sary</title>
    <link href="css/normalize.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
</head>

<body>
    <div id="app" class="appContainer" v-bind:class="{LtR: !Ar_Lang}">
        <div id="screen-loader" class="screen-loader">
        </div>

        <div class="home-section">
            <div class="menu mobile-nav" v-bind:class="{open: isMobMenuOpen}">
                <img src="assets/images/logo.svg" class="logo" alt="sary-logo" />

                <ul id="mobile-navigation" class="list-unstyled">
                    <li><a onclick="toggleMobileNav()" class="active" href="#">{{lang.homePage}}</a></li>
                    <li><a onclick="toggleMobileNav()" href="#features">{{lang.Features}}</a></li>
                    <li><a onclick="toggleMobileNav()"href="http://blog.sary.com/">{{lang.blog}}</a></li>
                </ul>
            </div>
            <div class="top-menu" v-bind:class="{menuScrolled: scroll>25 }">
                <div class="top-menu-content container">
                    <!--            desktop navigation-->

                    <div class="flex logo-and-menu-container">
                        <div class="sary-logo">
                            <img class="white-logo" src="assets/images/Logo-white.svg" alt="sary-logo" v-if="scroll<25&&Ar_Lang">
                            <img class="green-logo" src="assets/images/logo-green.svg" alt="sary-logo"
                                v-if="scroll>=25&&Ar_Lang">
                            <img class="green-logo" src="assets/images/logo-white-en.svg" alt="sary-logo"
                                v-if="scroll<25&&!Ar_Lang">
                            <img class="green-logo" src="assets/images/logo-green-en.svg" alt="sary-logo"
                                v-if="scroll>=25&&!Ar_Lang">    
                               
                        </div>
                        <div id="menu" class="menu desktop-nav">
                            <div>
                                <a  v-bind:class="{active: scroll<500 }" href="#">{{lang.homePage}}</a>
                            </div>
                            <div>
                                <a v-bind:class="{active: scroll>500 }" href="#features">{{lang.Features}}</a>
                            </div>
                            <div>
                                <a href="http://blog.sary.com/">{{lang.blog}}</a>
                            </div>
                        </div>
                    </div>

                    <div class="flex">
                        <div class="register-buttons-container flex flex-align-center">

                            <button class="sary-primary-btn be-supplier-btn">
                                <a target="_blank" href="https://supplier.sary.com/signup">
                                    <img class="white animated" src="assets/images/packages.svg" alt="car-shape">
                                    <img class="black animated" src="assets/images/packages-black.svg" alt="car-shape">
                                    {{lang.beSupplierBtn}}
                                </a>
                            </button>
                            <div class="join-customers" v-if="scroll>=25">
                                {{lang.or}}
                                <a href="#"> {{lang.joinCustomers}} </a>
                            </div>
                            <div>
                                <a v-bind:title="lang.Lang_title" href="#" v-on:click="changeLang"
                                    class="sary-primary-btn lang-control"> {{ lang.Lang_title }} </a>
                            </div>

                        </div>
                        <!--                <div>-->
                        <button class="mobile-nav-icon" v-bind:class="{change: isMobMenuOpen}"  @click="isMobMenuOpen=!isMobMenuOpen">
                            <div class="bar1"></div>
                            <div class="bar2"></div>
                            <div class="bar3"></div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="container home-section-content">

                <div class="home-section-content-text">
                    <div id="buyer-home-text">
                        <h1 class="bold-font">

                            {{lang.buyerHomeH1}}
                            <br />
                            {{lang.buyerHomeH2}}
                        </h1>

                        <p id="buyer">  {{lang.buyerHomeP1}}
                            <br />
                            {{lang.buyerHomeP2}}
                        </p>


                    </div>

                    <div id="navigationButtons" class="home-section-buttons-container flex flex-align-center">
                        <button class="sary-secondary-btn sary-btn-lg"><a target="_blank"
                                href="https://play.google.com/store/apps/details?id=com.sary.sary"
                                class="flex flex-justify-center flex-align-center">
                                <img src="assets/images/google-play--logo.png" alt="google-play">
                                <div>
                                    <span>{{lang.downloadFrom}}</span>
                                    <span class="medium-font">{{lang.downloadFromAndroid}}</span>
                                </div>
                            </a>
                        </button>
                        <button class="sary-secondary-btn sary-btn-lg"><a target="_blank"
                                href="https://apps.apple.com/us/app/%D8%B3%D8%A7%D8%B1%D9%8A-%D8%AA%D8%B3%D9%88%D9%82-%D8%A5%D8%AD%D8%AA%D9%8A%D8%A7%D8%AC%D8%A7%D8%AA-%D9%85%D9%86%D8%B4%D8%A2%D8%AA%D9%83/id1341656558"
                                class="flex flex-justify-center flex-align-center">
                                <img src="assets/images/apple-store-logo.png" alt="apple-store">
                                <div>
                                    <span>{{lang.downloadFrom}}</span>
                                    <span class="medium-font">{{lang.downloadFromApple}}</span>
                                </div>
                            </a>
                        </button>
                    </div>
                </div>
                <div class="home-section-photo-container">
                    <div class="register-form-container">
                        <div class="flex flex-direction-column registrationForms">
                            <h3 class="bold-font">{{lang.formH1}}</h3>
                            <h5>{{lang.formH2}}</h5>
                            <form autocomplete="off" v-on:submit="submitForm1step1"
                                id="homeSectionRegisterFormFirstStep"
                                class="flex flex-direction-column registrationFormStepOne" v-if="formSteps[0]">
                                <input name="name" required :placeholder="lang.formName" aria-label="Name"
                                    v-model="form1step1data.name" />
                                <input type="tel" pattern="\d{10,10}" name="phone" maxlength="10" required
                                    :placeholder="lang.formPhone" aria-label="Telephone" v-model="form1step1data.phone" />
                                <select name="city" required class="cityDropdown" aria-label="City"
                                    v-model="form1step1data.city">
                                    <option value="">{{lang.formCity}}</option>
                                    <option v-for="(item, key) in cities" :value="item.id">
                                        {{item.name}}
                                    </option>
                                </select>
                                <select name="category" required class="sectionDropdown" aria-label="category"
                                    v-model="form1step1data.category">
                                    <option value="">{{lang.formCategory}}</option>
                                    <option v-for="(item, key) in sections" :value="item.id">
                                        {{item.name}}
                                    </option>
                                </select>
                                <select name="purchase_average" required class="purchasingAverageDropdown"
                                    aria-label="Purchase" v-model="form1step1data.purchase_average">
                                    <option value="">{{lang.formPurchaseAverage}}</option>
                                    <option v-for="(item, key) in purchasingAverage" :value="item.id">
                                        {{item.name}}
                                    </option>
                                </select>

                                <button class="bold-font" type="submit">{{lang.formSubmit}}</button>
                            </form>
                            <form class="flex-direction-column registrationFormStepTwo" id="registrationFormStepTwoTop"
                                v-on:submit="submitForm1step2"
                                v-if="formSteps[1]">
                                <div>
                                    <h5 class="bold">{{lang.formSalesTeam}}</h5>
                                    <div class="flex">
                                        <button :class="{yesButton:has_sales_team}" v-on:click="has_sales_team=true"
                                            type="button">{{lang.formYes}}</button>
                                        <button :class="{yesButton:!has_sales_team}" v-on:click="has_sales_team=false"
                                            type="button">{{lang.formNo}}</button>
                                    </div>
                                </div>

                                <label for="uploadInputTop" class="upload">
                                    <img src="assets/images/upload.svg" />
                                    <span>{{lang.formUploadList}}</span>
                                </label>
                                <input id="uploadInputTop" class="uploadInput" type="file"
                                ref="file" v-on:change="handleFileUpload()">
                               <!--  <div> file name: {{list_file.name}}</div>
                                <div> file size: {{list_file.size}}</div>
                                <div> file type: {{list_file.type}}</div> -->
                                <button type="submit">{{lang.formSubmit2}}</button>
                            </form>
                        </div>
                        <div class="flex-direction-column flex-justify-center flex-align-center registrationThanksMessage"
                            v-if="formSteps[2]">
                            <h2 class="text-center bold"> {{lang.formThank}}</h2>
                            <h5>{{lang.formThankMsg}}</h5>
                        </div>
                    </div>
                </div>
                <!--            </div>-->
                <!--        </div>-->
            </div>
        </div>

        <div id="features" class="container features ">
            <div id="boomingSection" class="booming-section show-on-scroll">
                <img class="shopping-bag" src="assets/images/booming-icons/shopping-bag.svg" alt="shopping-bag" v-bind:class="{move: scroll>500 }">
                <img class="price" src="assets/images/booming-icons/price.svg" alt="price" v-bind:class="{move: scroll>500 }">
                <img class="pie-chart" src="assets/images/booming-icons/pie-chart.svg" alt="pie-chart" v-bind:class="{move: scroll>500 }">
                <img class="message-circle" src="assets/images/booming-icons/message-circle.svg" alt="message-circle" v-bind:class="{move: scroll>500 }">
                <img class="map-pin" src="assets/images/booming-icons/map-pin.svg" alt="map-pin" v-bind:class="{move: scroll>500 }">
                <img class="map" src="assets/images/booming-icons/map.svg" alt="map" v-bind:class="{move: scroll>500 }">
                <img class="layout" src="assets/images/booming-icons/layout.svg" alt="layout" v-bind:class="{move: scroll>500 }">
                <h1 class="text-center medium-font show-on-scroll">{{lang.featuresH1}}</h1>
            </div>
            <div class="three-paragraphs-container show-on-scroll container">
                <div>
                    <h3 class="bold-font">{{lang.featuresB1H}}</h3>
                    <p class="medium-font">{{lang.featuresB1P}}</p>
                </div>
                <div>
                        <h3 class="bold-font">{{lang.featuresB2H}}</h3>
                        <p class="medium-font">{{lang.featuresB2P}}</p>
                </div>
                <div>
                    <h3 class="bold-font">{{lang.featuresB3H}}</h3>
                    <p class="medium-font">{{lang.featuresB3P}}</p>
                </div>

            </div>
        </div>


        
      

        <div id="register-as-supplier" class="register-as-supplier container">

            <div class="admin-panel-photo">
                <video src="assets/images/3.mp4" autoplay playsinline muted loop width="100%"></video>
            </div>
            <div class="show-on-scroll text-section">
                <h3 class="medium-font">{{lang.supplierSec1H}}</h3>
                <p>{{lang.supplierSec1P}}</p>
            </div>
        </div>

        <div class="register-as-supplier column-reverse not-first-section middle-section container">

            <div class="show-on-scroll text-section right-alignment">
                <h3 class="medium-font">{{lang.supplierSec2H}}</h3>
                <p>{{lang.supplierSec2P}}</p>
            </div>
            <div class="admin-panel-photo left-alignment">
                <video src="assets/images/2.mp4" autoplay playsinline muted loop width="100%"></video>
            </div>
        </div>

        <div class="register-as-supplier not-first-section container">

            <div class="admin-panel-photo">
                <video src="assets/images/1.mp4" autoplay playsinline muted loop width="100%"></video>
            </div>
            <div class="show-on-scroll text-section">
                <h3 class="medium-font">{{lang.supplierSec3H}}</h3>
                <p>{{lang.supplierSec3P}}</p>
            </div>
        </div>

        <div id="blog" class=" blog ">
            <div class="background-container"></div>
            <div class="container">
            <div class="blog_cats">
                <a class="blog-cat " v-bind:class="{active: isActiveCategory===''}" @click="{isActiveCategory=''}" > الكل </a>
                <a class="blog-cat" v-for="cat in blog_cats"  v-bind:class="{active: isActiveCategory===cat.id}" @click="{isActiveCategory= cat.id}">{{cat.name}}</a>
            </div>
              <div class="all-posts">
                  <a class="post-card" v-for=" post in posts " v-bind:href="post.link" v-if="post.categories==isActiveCategory||isActiveCategory==='' " :cat="post.categories" target="_blank" >
                      <img v-bind:src="post.jetpack_featured_media_url" class="post-img" />
                      <div class="post-text">
                      <h3>{{post.title.rendered}}</h3>
                      <p>{{post.excerpt.rendered}} </p>
                  </div>
                  </a>
              </div>
            </div>
          </div>

        <div class="ending-section ">

            <div class="content-container container">
                <h1 class="bold-font text-right">
                    {{lang.endingSecH1}}
                    <br />
                    {{lang.endingSecH2}} </h1>
                    <div class="register-form-container">
                        <div class="flex flex-direction-column registrationForms">
                            <h3 class="bold-font">{{lang.formH1}}</h3>
                            <h5>{{lang.formH2}}</h5>
                            <form autocomplete="off" v-on:submit="submitForm1step1"
                                id="homeSectionRegisterFormFirstStep"
                                class="flex flex-direction-column registrationFormStepOne" v-if="formSteps[0]">
                                <input name="name" required :placeholder="lang.formName" aria-label="Name"
                                    v-model="form1step1data.name" />
                                <input type="tel" pattern="\d{10,10}" name="phone" maxlength="10" required
                                    :placeholder="lang.formPhone" aria-label="Telephone" v-model="form1step1data.phone" />
                                <select name="city" required class="cityDropdown" aria-label="City"
                                    v-model="form1step1data.city">
                                    <option value="">{{lang.formCity}}</option>
                                    <option v-for="(item, key) in cities" :value="item.id">
                                        {{item.name}}
                                    </option>
                                </select>
                                <select name="category" required class="sectionDropdown" aria-label="category"
                                    v-model="form1step1data.category">
                                    <option value="">{{lang.formCategory}}</option>
                                    <option v-for="(item, key) in sections" :value="item.id">
                                        {{item.name}}
                                    </option>
                                </select>
                                <select name="purchase_average" required class="purchasingAverageDropdown"
                                    aria-label="Purchase" v-model="form1step1data.purchase_average">
                                    <option value="">{{lang.formPurchaseAverage}}</option>
                                    <option v-for="(item, key) in purchasingAverage" :value="item.id">
                                        {{item.name}}
                                    </option>
                                </select>

                                <button class="bold-font" type="submit">{{lang.formSubmit}}</button>
                            </form>
                            <form class="flex-direction-column registrationFormStepTwo" id="registrationFormStepTwoTop"
                                v-on:submit="submitForm1step2"
                                v-if="formSteps[1]">
                                <div>
                                    <h5 class="bold">{{lang.formSalesTeam}}</h5>
                                    <div class="flex">
                                        <button :class="{yesButton:has_sales_team}" v-on:click="has_sales_team=true"
                                            type="button">{{lang.formYes}}</button>
                                        <button :class="{yesButton:!has_sales_team}" v-on:click="has_sales_team=false"
                                            type="button">{{lang.formNo}}</button>
                                    </div>
                                </div>

                                <label for="uploadInputTop" class="upload">
                                    <img src="assets/images/upload.svg" />
                                    <span>{{lang.formUploadList}}</span>
                                </label>
                                <input id="uploadInputTop" class="uploadInput" type="file"
                                ref="file" v-on:change="handleFileUpload()">
                               <!--  <div> file name: {{list_file.name}}</div>
                                <div> file size: {{list_file.size}}</div>
                                <div> file type: {{list_file.type}}</div> -->
                                <button type="submit">{{lang.formSubmit2}}</button>
                            </form>
                        </div>
                        <div class="flex-direction-column flex-justify-center flex-align-center registrationThanksMessage"
                            v-if="formSteps[2]">
                            <h2 class="text-center bold"> {{lang.formThank}}</h2>
                            <h5>{{lang.formThankMsg}}</h5>
                        </div>
                    </div>
            </div>
            <div class="background"></div>
        </div>

        <div id="contact-us" class="footer-section">
            <div class="container fix-footer">
                <div class="footer-contents">
                    <div class="news-container">
                        <div class="sary-logo">
                            <img src="assets/images/logo-green.svg" alt="sary-logo"
                            v-if="Ar_Lang">
                            <img src="assets/images/logo-green-en.svg" alt="sary-logo"
                            v-if="!Ar_Lang">   
                        </div>

                        <div class="social-media-container">
                            <a target="_blank" href="https://www.facebook.com/trysaryapp/">
                                <img src="assets/images/group-8@2x.png" alt="facebook-icon">
                            </a>

                            <a target="_blank" href="https://www.linkedin.com/company/saryapp">
                                <img src="assets/images/group-7@2x.png" alt="linkedin-icon">
                            </a>

                            <a target="_blank" href="https://www.instagram.com/trysaryapp">
                                <img src="assets/images/group-6@2x.png" alt="instagram">
                            </a>
                            <a target="_blank" href="https://twitter.com/trysaryapp">
                                <img src="assets/images/group-5@2x.png" alt="twitter">
                            </a>
                        </div>
                    </div>
                    <div class="footer-menus-container menu">
                        <div>
                            <h4 class="bold-font">{{lang.footerSite}}</h4>
                            <a href="#">{{lang.homePage}}</a>
                            <a href="#features">{{lang.Features}}</a>
                        </div>
                        <div>
                            <h4 class="bold-font">{{lang.footerReg}}</h4>
                            <a target="_blank" href="https://supplier.sary.com/signup">{{lang.footerRegSup}}</a>
                            <a href="#">{{lang.footerRegBuy}}</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="copyrights-container">
                <p>{{lang.footerCopyRights}}</p>
            </div>
        </div>


    </div>

    <script src="js/vue.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/script.js"></script>
    <script>
        window.intercomSettings = {
            app_id: "s9jpow6e"
        };
    </script>
    <script>
        (function () {
            var w = window;
            var ic = w.Intercom;
            if (typeof ic === "function") {
                ic('reattach_activator');
                ic('update', w.intercomSettings);
            } else {
                var d = document;
                var i = function () {
                    i.c(arguments);
                };
                i.q = [];
                i.c = function (args) {
                    i.q.push(args);
                };
                w.Intercom = i;
                var l = function () {
                    var s = d.createElement('script');
                    s.type = 'text/javascript';
                    s.async = true;
                    s.src = 'https://widget.intercom.io/widget/s9jpow6e';
                    var x = d.getElementsByTagName('script')[0];
                    x.parentNode.insertBefore(s, x);
                };
                if (w.attachEvent) {
                    w.attachEvent('onload', l);
                } else {
                    w.addEventListener('load', l, false);
                }
            }
        })();
    </script>
</body>

</html>