.features .booming-section {
    position: relative;
    width: 100%;
}
$icon1X: 500px;
$icon1Y: -150px;

$icon2X: 250px;
$icon2Y: 75px;

$icon3X: 225px;
$icon3Y: -140px;

$icon4X: -550px;
$icon4Y: -130px;

$icon5X: -500px;
$icon5Y: 80px;

$icon6X: -225px;
$icon6Y: -140px;

$icon7X: 550px;
$icon7Y: 100px;

.features .booming-section img {
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    top: 50%;
    right: 50%;
    z-index: 1;
    transition: 0.7s all;
    visibility: hidden;
    &.move{ visibility: visible;}
    &.shopping-bag.move{
        transform: translateX($icon1X - 50) translateY($icon1Y);
        @include respond-to(small-screens) { transform: translateX($icon1X - 200px) translateY($icon1Y); }
        @include respond-to(phone) { transform: translateX($icon1X - 320px) translateY($icon1Y); }
    }
    &.price.move{
        transform: translateX($icon2X) translateY($icon2Y);
        @include respond-to(small-screens) { transform: translateX($icon2X - 200px) translateY($icon2Y); }
        @include respond-to(phone) { transform: translateX($icon2X - 300px) translateY($icon2Y); }
    }
    &.pie-chart.move{
        transform: translateX($icon3X) translateY($icon3Y);
        @include respond-to(small-screens) { transform: translateX($icon3X - 200px) translateY($icon3Y); }
        @include respond-to(phone) { transform: translateX($icon3X - 200px) translateY($icon3Y); }
    }
    &.message-circle.move{
        transform: translateX($icon4X) translateY($icon4Y);
        @include respond-to(small-screens) { transform: translateX($icon4X + 270px) translateY($icon4Y); }
        @include respond-to(phone) { transform: translateX($icon4X + 400px) translateY($icon4Y); }
    }
    &.map-pin.move{
        transform: translateX($icon5X) translateY($icon5Y);
        @include respond-to(small-screens) { transform: translateX($icon5X + 250px) translateY($icon5Y); }
        @include respond-to(phone) { transform: translateX($icon5X + 500px) translateY($icon5Y); }
    }
    &.map.move{
        transform: translateX($icon6X) translateY($icon6Y);
        @include respond-to(small-screens) { transform: translateX($icon6X + 100px) translateY($icon6Y); }
        @include respond-to(phone) { transform: translateX($icon6X + 140px) translateY($icon6Y); }
    }
    &.layout.move{
        transform: translateX($icon7X) translateY($icon7Y);
        @include respond-to(small-screens) { transform: translateX($icon7X - 200px) translateY($icon7Y); }
        @include respond-to(phone) { transform: translateX($icon7X - 350px) translateY($icon7Y); }
    }
    
}
