button {
    outline: none;
    border: none;
}
button {
    padding: 0px 10px;
    border-radius: 33.5px;
    color: #fff;
    font-size: 16px;
    height: 46px;
}



.sary-primary-btn {
    border: solid 1px rgba(255, 255, 255, 0.18);
    background-color: rgba(255, 255, 255, 0.07);
    font-weight: bold;
    color: #fff;
    /*transition: all 0.25s;*/
}

.sary-primary-btn:hover {
    background-color: #fff;
    color: #343434;
    /*transition: all 0.25s;*/
}

.sary-secondary-btn {
    background-color: #fff;
    font-weight: bold;
    color: $primaryColor;
}

.sary-secondary-btn a:hover, .sary-secondary-btn a {
    color: $primaryColor;
}

.sary-btn-md {
    height: 39px;
    border-radius: 19px;
    color: #fff;
    font-size: 14px;
}

.sary-btn-lg {
    height: 46px;
    border-radius: 32px;
    font-size: 22px;
    color: #fff;
}

.sary-btn-sm {
    width: 80px !important;
    height: 40px !important;
    font-size: 14px !important;
    margin: 0 10px;
    padding: 10px;
}
.sary-btn-sm a {
    color:$primaryColor;

}