
@font-face {
    font-family: sary-san-serif;
    src: url(../fonts/san-serif/Sary-Regular.ttf);
    src: url(../fonts/san-serif/Sary-Regular.eot);
    src: url(../fonts/san-serif/Sary-Regular.woff);
    src: url(../fonts/san-serif/Sary-Regular.woff2);
}

@font-face {
    font-family: sary-san-serif-heavy;
    src: url(../fonts/san-serif/Sary-Heavy.ttf);
    src: url(../fonts/san-serif/Sary-Heavy.eot);
    src: url(../fonts/san-serif/Sary-Heavy.woff);
    src: url(../fonts/san-serif/Sary-Heavy.woff2);
}

@font-face {
    font-family: sary-san-serif-bold;
    src: url(../fonts/san-serif/Sary-Bold.ttf);
    src: url(../fonts/san-serif/Sary-Bold.eot);
    src: url(../fonts/san-serif/Sary-Bold.woff);
    src: url(../fonts/san-serif/Sary-Bold.woff2);
}

.medium-font {
    font-family: sary-san-serif-heavy, Arial, 'sans-serif';
}

.bold-font {
    font-family: sary-san-serif-bold, Arial, 'sans-serif';
}