select, ::placeholder {
    color: #b6b4b4;
}

select option {
    color: black;
}

input[type=text], textarea, input[type="range"], input, input:matches([type="password"], [type="search"]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input::-webkit-input-placeholder {
    line-height:normal!important;
}

.register-form-container {
    width: 423px;
    @include respond-to(small-screens) { width: inherit;}
    margin-top: 30px;
    transition: all 0.25s;
    background-image: url(../assets/images/sign-up-form-background.svg);
    background-color: #fff;
    border-radius: 36px;
    -webkit-box-shadow: 10px 10px 77px -39px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 10px 10px 77px -39px rgba(0, 0, 0, 0.25);
    box-shadow: 10px 10px 77px -39px rgba(0, 0, 0, 0.25);
    padding: 37px 33px 39px 48px;
   
}
form select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url(../assets/images/down-arrow.svg) no-repeat left #ddd;
    background-position-x: 24px;
}

form input, form select {
    margin-top: 11px;
    height: 52px;
    border-radius: 36px;
    border: solid 1px #ded6d6;
    padding-right: 28px;
    outline: none;
    font-size: 18px;
    background-color: white;
}
