.container{
	width: 66.36%;
    margin: auto;
    @include respond-to(larg-screens) { width: 85%; }
    @include respond-to(medium-screens) { width: 90%; }
    @include respond-to(small-screens){ width: 95%;}
}

.flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-align-center {
    align-items: center;
    @include respond-to(medium-screens) {   justify-content: center;}
}

.flex-justify-center {
    justify-content: center;
}

.flex-space-between {
    justify-content: space-between;
}

.full-width {
    width: 100%;
}

.bold {
    font-weight: bold;
}


.truncate {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


h1{
	color: $white;
	font-size: 2.5em;
}
p{
	color: $black;
}
