
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    -ms-text-size-adjust:100%;-webkit-text-size-adjust:100%; -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a,button {
    color: #fff;
    text-decoration: none;
    &:hover{
        color: #000;
    }
}
.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
body {
    font-family: sary-san-serif, Arial, sans-serif;
    font-size: $font-size-base;
    color: #333;
    
   
}

img {
    vertical-align: middle;
}

iframe {
    border: 0;
}
figcaption,
figure,
main {
    display: block;
}

main {
	overflow: hidden;
}
h1, h2, h3, h5, p {
    line-height: normal;
    margin: 0;
    font-weight: 500;
}
