

// Color system

$primaryColor:rgb(80, 68, 184);
$secondryColor:#76d974;
$buttonsColor:#32d1a0; 

$white:    #fff !default;
$gray-100: #f6f9fc !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #8898aa !default;   // Line footer color
$gray-700: #525f7f !default;   // Line p color
$gray-800: #32325d !default;   // Line heading color
$gray-900: #212529 !default;
$black:    #000 !default;


// body
$font-size-base:14px;

// responsive
$break-xs: 480px;
$break-sm: 768px;
$break-md: 960px;
$break-lg: 1024px;
$break-xlg: 1440px;

@mixin respond-to($media) {
  @if $media == phone {
    @media only screen and (max-width: $break-xs) { @content; }
  }
  @else if $media == small-screens {
    @media only screen and (max-width: $break-sm) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (max-width: $break-md) { @content; }
  }
  @else if $media == larg-screens {
    @media only screen and (max-width: $break-lg) { @content; }
  }
  @else if $media == xlarg-screens {
    @media only screen and (max-width: $break-xl) { @content; }
  }
}