.blog{
    width: 100%;
    position: relative;
    .background-container {
        width: 100%;
        height: 397px;
        position: absolute;
        bottom: 0;
        z-index: -1;
        background-size: cover;
        background-image: url("../assets/images/blog-section-background.svg");
    }
    .all-posts{
        display: flex;
    flex-wrap: wrap;
    flex-direction: row;
        .post-card {
            width: 31%;
            @include respond-to(small-screens){ width: 100%;}
            background-color: #fff;
            border-radius: 6%;
            border: 1px solid #ddd;
            margin-left: 2%;
            margin-bottom: 2%;
            &:hover{
                background-color: #eee;
            }
            .post-img{
                max-width: 100%;
                
                border-top-left-radius: 6% ;
                border-top-right-radius: 6% ;
            }
            .post-text{
                padding: 15px;
                h3{
                    color: #343434;
                    font-weight: bold;
                    font-size: 1em;
                }
                p{
                    font-size: 0.85em;
                    color: #777;
                }
            }
        }
    
    }
    .blog_cats{
        display: flex;
        margin: 2em 0em;
        a{
            color: $primaryColor;
            padding: 5px 15px;
            margin: 0px 10px;
            background-color: #eee;
            border: 1px solid #ddd;
            border-radius: 10px;
            cursor: pointer;
            &.active, &:hover{
                color: #fff;
                background-color: $primaryColor;
            }
        }
    }
}