.ending-section {
    margin-top: 166px;
    position: relative;
    width: 100%;
    height: 532px;
    background-size: cover;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;


 .background {
    position: absolute;
    z-index: -1;
    background: url("../assets/images/group-35.svg");
    background-repeat: no-repeat;
    right: 0;
    border-bottom-left-radius: inherit;
    background-size: cover;
    width: 92.5%;
    height: 532px;
    @include respond-to(small-screens) {
        width: 100%;
        background-image: url(../assets/images/end-section-mobile.svg);
        border-radius: 0;
    }
}

 .register-form-container {
    margin-top: 150px;
    @include respond-to(small-screens) { margin-top: 15px; }
}

 .content-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include respond-to(small-screens) {   flex-direction: column;  margin-top: 200px;}
}

 h1 {
    color: #fff;
    font-size: 3em;
    width: 55%;
    @include respond-to(small-screens) {  width: 90%; font-size: 2em;}
}

}

.LtR{
    .ending-section {
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
     
    
    
     .background {
     
        right: inherit;
        left: 0;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
    h1 {
        font-size: 2.7em;
    }
    
    }
}