   .features {
       border-bottom: solid 2px #f5f5f5;
       padding-bottom: 93px;
       margin: 0 auto;
       margin-top: 195px;


       .three-paragraphs-container {
           display: flex;
           justify-content: space-around;
           width: 104%;
           @include respond-to(small-screens){ flex-direction: column;}

           div {
               width: 30%;
               @include respond-to(small-screens){ width: 100%; margin-bottom: 2.5em;}
           }
       }

       h1 {
           position: relative;
           z-index: 2;
           font-size: 60px;
           color: #343434;
           font-weight: bold;
           margin-bottom: 87px;
           text-align: center;
       }

       h3 {
           color: #404040;
           font-size: 1.5em;
           margin-bottom: 24px;
           @include respond-to(small-screens){ margin-bottom: 10px;}
       }

       p {
           color: #646363;
           font-size: 1.1em;
       }
   }

   .LtR    .features {
    h1 {
        font-size: 48px;
    }

    h3 {
        font-size: 1.3em;
    }

    p {
        font-size: 1em;
    }
}