  .footer-section {
      margin-top: 200px;


      .brands-container {
          margin-bottom: 86px;
      }

      .footer-contents {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;


          .news-container {
              margin-left: 132px;
              /* display: none; */
          }

          .footer-menus-container {
              display: flex;
              justify-content: flex-start;
              flex: 1;

          }

          .footer-menus-container>div {
              margin-left: 10%;
          }

          .footer-menus-container>div * {
              margin-bottom: 13px;
          }

          .footer-menus-container>div h4 {
              font-size: 18px;
          }

          .footer-menus-container>div a {
              font-size: 14px;
              display: block;
              color: #6d6d6d;
          }
      }
  }


  .social-media-container {
      display: flex;
      margin-top: 21px;
 img {
      width: 36px;
      margin-right: 12px;
  }
}
  .copyrights-container {
      height: 40px;
      background-color: #f6f6f6;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
      p {
        font-size: 14px;
        color: #6d6d6d;
        font-weight: bold;
        text-align: center;
    }
  }

  .LtR {

    .footer-section {
   
  
        .footer-contents {
            .news-container {
                margin-left: 0px;
                margin-right: 132px;
            }
  
  
            .footer-menus-container>div {
                margin-left: 0%;
                margin-right: 10%;
            }
  
        }
    }
  
  
    .social-media-container {
     
   img {
      
        margin-right: 0px;
        margin-left: 12px;
    }
  }
  

  } 