.screen-loader {
    width: 0;
    z-index: 4;
    height: 7px;
    background: rgb(40, 216, 183);
    background: linear-gradient(90deg, rgba(40, 216, 183, 1) 25%, rgba(254, 221, 2, 1) 175%);
    position: fixed;
    top: 0;
    right: 0;
    transition: all 0.1s;
}
.LtR .screen-loader {
    left: 0;
    right: inherit;
}

.top-menu{
    position: absolute;
    top: 25px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    z-index: 3;
    width: 100%;
   
    &.menuScrolled{
        position: fixed;
        top: 0px;
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.08) 0px 18px 48px 0px;
        .top-menu-content{
            
        .desktop-nav{
            a:hover, a.active, a:active {
                border-bottom: 3px solid $primaryColor;
                text-decoration: none;
                outline: none;
            }
            a{
                color: #000;
            }

        }
                a, button {
                    color: #000;
                }
                .be-supplier-btn{
                    background-color: $primaryColor;
                    color: rgb(255, 255, 255);
                    border: 1px solid rgba(218, 218, 218, 0.64);
                    &:hover{
                        background-color: rgba(216, 216, 216, 0.19);
                        color: rgb(52, 52, 52);
                        border: 1px solid rgba(218, 218, 218, 0.64);
                    }
                    a{
                        color: rgb(255, 255, 255);
                    }
                }
                .lang-control {
                    color: #000;
                    background-color: #eee;
                    border: 1px solid rgba(218, 218, 218, 0.64);
                    &:hover {
                        text-decoration: none;
                        color: #999;
                        background-color: #fff;
                    }
                }
                .mobile-nav-icon{
                    border-color: $primaryColor;
                    .bar1, .bar2, .bar3 {
                        background-color: $primaryColor;
                      }
                    
                }
        }
        
    }
    .top-menu-content {
        margin: 0 auto 0;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        img.black{ display: none;}
        img.white{ display: inline;}
        .sary-logo {
            margin-left: 50px;  
            @include respond-to(small-screens) { margin-left: 10px;}
        }
        .desktop-nav {
            display: flex;
            margin-left: 45px;
            align-items: center;
            height: 56px;
            @include respond-to(small-screens) {   display: none;}
            a:hover, a.active, a:active {
                border-bottom: 3px solid rgba(246, 246, 246, 0.27);
                padding-bottom: 0px;
                transition: 0.5s all;
                text-decoration: none;
                outline: none;
            }
            a,button {
                font-weight: bold;
                color: #fff;
                margin-left: 20px;
                font-size: 16px;
                text-decoration: none;
                &:focus {
                    outline: 5px auto -webkit-focus-ring-color;
                    outline-offset: -2px;
                }
            }
        }
        .be-supplier-btn{
        @include respond-to(small-screens) {
            width: 110px;
            padding: 0px 3px !important;
            height: 36px;
            font-size: 11px;
        }}
        .be-supplier-btn img{ margin-left: 5px;}
        .be-supplier-btn:hover a{
            color: #000;
            img.black{ display: inline;}
            img.white{ display: none ;}
        }
        .join-customers {
            margin-right: 10px;
            font-size: 16px;
            color: #000;
            font-weight: bold;
            @include respond-to(small-screens) {   display: none;}
            a {
                margin-right: 10px;
                color: $primaryColor;
                font-size: 16px;
                font-weight: bold;
                &:hover {
                    text-decoration: none;
                    padding-bottom: 0px;
                     border-bottom: 3px solid $secondryColor;
                     
                 }
            }
        }

    
        .lang-control{
            border-radius: 50%;
            height: 46px;
            display: inline-block;
            width: 46px;
            font-size: 1.4em;
            margin-right: 15px;
            line-height: 2;
            text-align: center;
            padding: 5px 10px ;
            @include respond-to(small-screens){
                height: 37px;
                width: 37px;
                font-size: 1.1em;
                margin-right: 5px;
                padding: 4px 9px;
            }
        }
        .mobile-nav-icon{
            border: solid 1px rgba(255, 255, 255, 0.18);
            background-color: rgba(255, 255, 255, 0.07);
            width: 48px;
            height: 48px;
            border-radius: 20px;
            margin-right: 20px;
            @include respond-to(small-screens){
                height: 37px;
                margin-right: 10px;
                border-radius: 10px;
            }
            .bar1, .bar2, .bar3 {
                width: 25px;
                height: 3px;
                background-color: #fff;
                margin: 5px 0;
                transition: 0.4s;
              }
              
              &.change {
                .bar1 {
                    -webkit-transform: rotate(-45deg) translate(-5px, 5px);
                    transform: rotate(-45deg) translate(-5px, 5px);
                  }
                  
                .bar2 {opacity: 0;}
                  
                .bar3 {
                    -webkit-transform: rotate(45deg) translate(-7px, -7px);
                    transform: rotate(45deg) translate(-7px, -7px);
                  }
              }
        }
    }
    
}

/* mobile menu */


.LtR .top-menu{
   
    .top-menu-content {
       
        .sary-logo {
            margin-left: 0px;
            margin-right: 50px;
        }
        .desktop-nav {
            margin-right: 45px;
            margin-left: 0px;
            a,button {
                margin-right: 0px;
                margin-left: 20px;
                font-size: 20px;
            }
        }
        .be-supplier-btn img{ margin-right: 5px;  margin-left: 0px;}
       
        .join-customers {
            margin-right: 0px;
            margin-left: 10px;
            font-size: 16px;
            
            a {
                margin-left: 10px;
                margin-right: 0px;
                font-size: 16px;
            }
        }
        .lang-control{
            padding: 0;
            margin-right: 0px;
            margin-left: 15px;
        }
    }
    
}