.home-section {
    background-image: url(../assets/images/gradient.png);
    background-size: cover;
    height: 670px;
    width: 100%;
    padding-top: 46px;
    @include respond-to(medium-screens) {  height: 1000px;}
    .home-section-content {
        display: flex;
        justify-content: space-between;
        margin: 110px auto 0;
        @include respond-to(medium-screens) { flex-direction: column; align-items: center; }
        .home-section-content-text {
            width: 566px;
            @include respond-to(small-screens) {   width: inherit;}
            margin-left: 27px;
            align-self: flex-start;
            margin-top: 40px;
            @include respond-to(medium-screens) {   margin: 0px auto; text-align: center;}
            h1 {
                font-size: 2.6em;
                @include respond-to(medium-screens) {   font-size: 57px;}
                @include respond-to(small-screens) {   font-size: 30px;}
                color: #fff;
            }
            p {
                margin-bottom: 32px;
                margin-top: 5px;
                font-size: 1.2em;
                color: #fff;
                @include respond-to(small-screens){margin-top: 15px;
                    font-size: 1em;}
            }
        }
        .home-section-buttons-container {
            button {
            width: 197px;
            transition: 0.25s all;

            &:hover {
                box-shadow: 0 17px 41px 0 rgba(0, 0, 0, 0.22);
            }
            a {
                text-align: right;
                img {
                    width: 25px;
                    margin-left: 13px;
                }
                span:first-child {
                    display: block;
                    font-size: 12px;
                }
                span:last-child {
                    display: block;
                    font-size: 16px;
                    font-weight: bold;
                }
            }
        }
        
        button:nth-child(1) {
            margin-left: 14px;
        }
    }
        .home-section-photo-container {
            position: relative;
        }
        
        .registrationThanksMessage {
            height: 100%;
        }
        
        
    }
}

.LtR .home-section {
    .home-section-content {
        .home-section-content-text {
            
            margin-left: 0px;
            margin-right: 27px;
            h1 {
                font-size: 2em;
                line-height: 1.2;
    margin-top: 2em;
            }
            p {              
                font-size: 1.2em;
            }
        }
        .home-section-buttons-container {
            button {
            a {
                text-align: left;
                img {
                    margin-left: 0px;
                    margin-right: 13px;
                }
                span:last-child {
                    font-size: 16px;
                }
            }
        }
        
        button:nth-child(1) {
            margin-left: 0px;
            margin-right: 14px;
        }
    }
       
    }
}

