.register-form-container {

input {
    background: none !important;
}

 h3 {
    color: #404040;
    font-size: 27px;
}

 h5 {
    color: #9c9c9c;
    font-size: 17px;
}

 form {
    margin-top: 20px;
}

 form select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url(../assets/images/down-arrow.svg) no-repeat left #ddd;
    background-position-x: 24px;
}

 form input,  form select {
    margin-top: 11px;
    height: 52px;
    border-radius: 36px;
    border: solid 1px #ded6d6;
    padding-right: 28px;
    outline: none;
    font-size: 18px;
    background-color: white;
}

 form button {
    margin-top: 41px;
    background-color: $buttonsColor;
    color: #fff;
    height: 50px;
    border-radius: 33px;
    font-size: 18px;
    padding-right: 15px;
    padding-left: 15px;
    transition: 0.25s all;
}

 form button:hover {
    background-color: #1CC591;
    transition: 0.25s all;
}
}
.registrationFormStepTwo > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.registrationFormStepTwo .upload {
    height: 55px;
    display: flex;
    align-items: center;
    border-radius: 36px;
    margin-top: 24px;
    justify-content: flex-start;
    padding-right: 20px;
    background-color: #f3f3f3;
    border: 1px solid #efebeb;
    cursor: pointer;
}

.registrationFormStepTwo .upload span {
    color: #b6b4b4;
    margin-right: 3px;
}

.registrationFormStepTwo input {
    display: none;
}

.registrationFormStepTwo > div h5 {
    font-size: 15px;
    color: #404040;
}

.registrationFormStepTwo > div button {
    height: 28px;
    width: 74px;
    margin: 4px;
    font-size: 14px;
    background-color: #eee;
    color: #404040;
    transition: all 0.25s;
}

.registrationFormStepTwo > div button.yesButton {
    background-color: $buttonsColor;
    color: #fff;
}

.LtR {
    .register-form-container {

        input {
            background: none !important;
        }
        
         h3 {
            font-size: 27px;
        }
        
         h5 {
            font-size: 17px;
        }
        
        
        
         form select {
            background-position-x: 90% !important;
           
        }
        
         form input,  form select {
            padding-right: 0px;
            padding-left: 28px;
            font-size: 18px;
           
        }
        
        
    }
       
        
        .registrationFormStepTwo .upload {
            padding-right: 0px;
            padding-left: 20px;

        }
        
        .registrationFormStepTwo .upload span {
            margin-right: 0px;
            margin-left: 3px;
        }
}