 .register-as-supplier {
    
                        margin: 74px auto 0;
                        display: flex;
                        justify-content: space-between;
                        height: 830px;
                        background-size: cover;
                        align-items: center;
                        @include respond-to(small-screens) {   flex-direction: column;
                            height: auto;
                            margin-bottom: 125px;}
                       
                   
                    
                    &.middle-section {
                        justify-content: space-between;
                    }
                    
                    &.not-first-section {
                        margin-top: 35px;
                    }
                    &.column-reverse{
                        @include respond-to(small-screens) {  flex-direction: column-reverse}

                    }
                    
                     .admin-panel-photo {
                        width: 280px;
                    }
                    
                     .right-alignment {
                        margin-right: 0;
                    }
                    
                     .admin-panel-photo.left-alignment {
                        margin-left: 0;
                    }
                    
                     .admin-panel-photo img {
                        width: 100%;
                        border-radius: 44px;
                        -webkit-box-shadow: 45px 54px 73px 0px rgba(0, 0, 0, 0.13);
                        -moz-box-shadow: 45px 54px 73px 0px rgba(0, 0, 0, 0.13);
                        box-shadow: 45px 54px 73px 0px rgba(0, 0, 0, 0.13);
                    }
                    
                     .text-section {
                        width: 57%;
                        @include respond-to(small-screens) {    width: 100%;}
                    }
                    
                     h3 {
                        margin-bottom: 55px;
                        font-size: 3em;
                        width: 100%;
                        font-weight: bold;
                        @include respond-to(small-screens) {
                            margin-bottom: 30px;
                            font-size: 2em;
                            margin-top: 2em;
                        }
                    }
                    
                     p {
                        color: #343434;
                        font-size: 1.3em;
                        width: 100%;
                    }
                }               
                    .register-as-buyer {
                        margin-top: 100px;
                        margin-right: 300px;
                        margin-bottom: 30px;
                        .mobile-photo-container {
                            width: 616px;
                        }
                        .mobile-photo-container img {
                            width: 100%;
                        }
                    }
.LtR{
    .register-as-supplier {
     .right-alignment {
        margin-left: 0;
    }
    
     .admin-panel-photo.left-alignment {
        margin-right: 0;
    }
    
     h3{ font-size: 1.8em;
        line-height: 1.2;}
     p { font-size: 1.3em;}
}
}